.spinner {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    border-top: .7rem solid #E36414;
    border-left: .7rem solid rgba(227, 99, 20, 0.5);
    border-right: .7rem solid rgba(227, 99, 20, 0.5);
    border-bottom: .7rem solid rgba(227, 99, 20, 0.5);
    animation: spin 1.5s ease-out infinite;
    margin: 4rem auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}