.books {
    list-style: none;
    flex-basis: 30%;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100vh;
    color: #333;
    font-weight: 300;
    padding: 10px 0 0 20px;
}

.books__item {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .15s all ease-out;
}   

.books__item:hover {
    background-color: #ddd;
}
