.App {
  text-align: center;
}

.contBtn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: blueviolet;
  color: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
  opacity: .9;
  transition: .2s all ease-out;
  cursor: pointer;
  font-size: 16px;
}

.contBtn:hover {
  opacity: 1;
}

.modalTitle {
  color: #333;
}