.Spinner {
    width: 10rem;
    height: 10rem;
    border-top: 1rem solid #bd36d4;
    border-bottom: 1rem solid #a23ab480;
    border-left: 1rem solid #a23ab480;
    border-right: 1rem solid #a23ab480;
    border-radius: 10rem;
    animation: spin 1.3s infinite ease-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}